html {
    font-size: 16px;
    /*font-family: Verdana, sans-serif, DejaVu Sans;*/
}

body {
    padding: 50px 20px 20px 40px;
    font-family: DejaVu Sans;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}

.mb-10px {
    margin-bottom: 10px;
}

.w-design {
    width: 230px;
}

.w-wire {
    width: 250px;
}

.w-operation {
    width: 230px;
}


.block {
    /*background-color: grey;*/
    height: 255px;
    float: none;
    margin-bottom: 20px;
}

.block__item {
    /*background-color: red;*/
    margin-right: 10px;
    float: left;
}

.design {
    position: relative;
    height: 190px;
    width: 230px;
    background-image: url("../images/coil.png");
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: grey;*/
}

    .inner-d {
        position: absolute;
        top: 58px;
        left: 63px;
        width: 43px;
        transform: rotate(-90deg);
        text-align: center;
        /*background-color: green;*/
    }

    .outer-d {
        position: absolute;
        top: 58px;
        left: -49px;
        width: 133px;
        transform: rotate(-90deg);
        text-align: center;
        /*background-color: green;*/
    }

    .length {
        position: absolute;
        width: 132px;
        top: 157px;
        left: 95px;
        text-align: center;
        /*background-color: green;*/
    }

.wire {
    position: relative;
    height: 100px;
    width: 230px;
    background-image: url("../images/wire.png");
    background-repeat: no-repeat;
    background-size: contain;
    /*background-color: grey;*/
}

    .conductor-d {
        position: absolute;
        top: 40px;
        left: 130px;
        width: 95px;
        transform: rotate(-90deg);
        text-align: center;
        /*background-color: green;*/
    }

    .full-d {
        position: absolute;
        top: 40px;
        left: 81px;
        width: 80px;
        transform: rotate(-90deg);
        text-align: center;
        /*background-color: green;*/
    }

.tbl-material td, .tbl-operation td {
    padding: 0px 10px 0px 0px;
    border: solid 0px black;
}

.tbl-calculated td, .tbl-calculated th {
    border: solid 1px black;
    padding: 5px;
    text-align: center;
}

.tbl-calculated td:first-child {
    text-align: left;
}

.ta-l {
    text-align: left !important;
}